<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <form class="content" [formGroup]="formgroup" (ngSubmit)="saveAccount()">
                        <h1 class="d-flex">Edit</h1>
                        <h2 class="d-flex">Account</h2>
                        <div class="row">
                            <div class="submit-form">

                                <!-- accountName -->
                                <div class="mb-3">
                                    <label>Account Name</label>
                                    <input type="text" class="form-control" formControlName="accountName" maxlength="55"
                                        name="accountName" placeholder="Account Name" autocomplete="off"
                                        [(ngModel)]="updateAccountRequest.accountName" />
                                    <!-- display error start -->
                                    <div *ngIf="accountName.invalid && (accountName.touched || accountName.dirty)">
                                        <span class="text-danger" *ngIf="accountName.errors?.required">*Account Name is
                                            Required</span>

                                        <span class="text-danger" *ngIf="accountName.errors?.minlength">*Minimum 6
                                            characters is Required</span>

                                        <span class="text-danger" *ngIf="accountName.errors?.pattern">*Enter only
                                            Alphnumeric
                                            characters.</span>
                                    </div>
                                    <!-- display error end -->
                                </div>

                                <!-- balance -->
                                <div class="mb-3">
                                    <label for="balance">Balance</label>
                                    <input type="number" class="form-control" formControlName="balance"
                                        placeholder="Balance" name="balance"
                                        [(ngModel)]="updateAccountRequest.balance" />
                                    <!-- display error start -->
                                    <div *ngIf="balance.invalid && (balance.touched || balance.dirty)">
                                        <span class="text-danger" *ngIf="balance.errors?.required">*Balance is
                                            Required</span>
                                        <span class="text-danger" *ngIf="balance.errors?.min">*Allowed ammount beetwen
                                            $1-$10000</span>
                                        <span class="text-danger" *ngIf="balance.errors?.max">*Allowed ammount beetwen
                                            $1-$10000</span>
                                    </div>
                                    <!-- display error end -->
                                </div>

                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    &nbsp; | &nbsp;
                                    <a class="link" [routerLink]="['/accounts']">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>